<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
</head>
<body>
    <h1>Hello, {{user.first_name}}</h1>
    <a href="/logout">Logout</a>

    {% if user.id == book.creator.id %}

        {% with messages = get_flashed_messages() %}    
            {% if messages %}                           
                {% for message in messages %}           
                    <p>{{message}}</p>                   
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form action="/books/{{book.id}}/update" method="post">
            <label for="title">Title: </label>
            <input type="text" name="title" value="{{book.title}}">
            
            <p>Added By: {{book.creator.first_name}} {{book.creator.last_name}}</p>
            <p>Added On: {{book.created_at}}</p>
            <p>Last Updated: {{book.updated_at}}</p>

            <label for="description">Description: </label> 
            <input type="text" name="description" value="{{book.description}}">
    
            <input type="submit" value="Edit">
        </form>
    {% else %}
        <h1>{{book.title}}</h1>
        <p>Added By: {{book.creator.first_name}} {{book.creator.last_name}}</p>
        <p>Added On: {{book.created_at}}</p>
        <p>Last Updated: {{book.updated_at}}</p>
        <p>Description: {{book.description}}</p>
    {% endif %}

</body>
</html>